.create__test__form {
   width: 100% !important;
}

.rules__wrapper {
   width: 100%;
}

.add__new {
   color: var(--primary);
   font-weight: 500;
}

.renderData__wrapper {
   width: 100%;
}

.options__wrapper {
   display: flex;
   align-items: center;
   margin-bottom: 15px;
}

.render__item {
   display: flex !important;
   margin-bottom: 25px;
   align-items: center;
}

.question__options {
   margin-bottom: 40px;
}

.option {
   margin-top: 5px;
   margin-bottom: 5px;
}
.container-choose {
   text-align: center;
   margin-top: 3rem;
}

.choose-text {
   font-size: 30px;
}

.block-choose {
   width: 35%;
   margin: 0 auto;
}

.btn-choose {
   background-color: #c9c4d8;
   margin: 20px 0;
   font-size: 20px;
   border-radius: 5px;
}
